.btn {
	border-width: 2px;
	font-weight: 500;
	padding: 0.5rem 3rem;
	font-size: 1.1em;

	.btn-sm {
		padding: 0.25rem 2rem;
	}

	.btn-lg {
		padding: 1rem 4rem;
	}

	/*&.nsx-orange {
		padding: 10px 38px;
		
		border: 0px;
		outline: none;
		background: $color-brand-java;
		background: transparent;
		color: $color-brand-typography;
		color: #ffffff;
		text-decoration: none;
		border-radius: 0;
		border: 3px solid $color-brand-java;
		border: 3px solid #93dbf1;
		margin: 20px auto;
		display: block;

		&.small {
			display: initial;
			padding: 2px 4px;
			line-height: 40px;
		}

		&:hover {
			background: #93dbf1;
			color: $color-brand-typography;
			cursor: pointer;
		}

		&.request-kit {
			border: 3px solid #ffffff;

			&:hover {
				background: #ffffff;
				border: 3px solid #ffffff;
			}
		}
	}

	&.nsx-blue {
		&.request-kit {
			color: $color-bg-dark-blue;
			background: none;
			border: 3px solid $color-bg-dark-blue;
			border: 3px solid #3281c1;

			&:hover {
				background: $color-bg-dark-blue;
				background: #3281c1;
				color: #ffffff;
				border: 3px solid $color-brand-regal;
				border: 3px solid #3281c1;
			}

			&.popup {
				color: $color-bg-dark-blue;
				background: none;
				border: 3px solid $color-brand-regal;

				&:hover {
					background: $color-brand-regal;
					color: #ffffff;
					border: 3px solid $color-brand-regal;
				}
			}
		}

		background: #93dbf1;
		padding: 10px 38px;
		
		border: 0px;
		outline: none;
		background: $color-brand-java;
		color: $color-brand-typography;
		text-decoration: none;
		border-radius: 0;
		border: 3px solid $color-brand-java;
		margin: 20px auto;
		display: block;

		&.small {
			display: initial;
			padding: 2px 4px;
			line-height: 40px;
		}

		&:hover {
			background: #93dbf1;
			color: $color-brand-typography;
			cursor: pointer;
		}
	}*/
}