.end-section {
	background-color: #fff;
	overflow: hidden;
	padding: $grid-gutter-width/2 $grid-gutter-width;
	margin: $grid-gutter-width*2 0;

	h2 {
		@extend .h3;
		margin-bottom: 1.5rem;
	}

	h3 {
		font-size: 1rem;
		line-height: 1.5rem;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}

	> div {
		padding-bottom: $grid-gutter-width/2;
	}

	.large-text {
		@extend .h1;
		font-weight: bold;
		text-align: center;
		display: block;
		margin: 0;
	}
}

.lower-blocks {
	padding-top: 18px;
}