/*NAVBAR STYLES*/
/*top header css*/
#topnav {
	border: 0;
	margin-bottom: 0;
	background-color: $color-brand-botticelli;
	z-index: 9999;
	outline: 2px solid rgba($color-brand-botticelli, 0.75);

	.toplogo {

		margin: $grid-gutter-width*1.25 0;
		width: 272px;
		display: block;

		img {
			width: 100%;
		}
	}

	&.blue-back {
		background-color: $color-brand-typography;
		outline: none;
	}

	.navbar-nav {
		> li {
			height: 100%;

			> a {
				height: 100%;
				font-weight: 500;
				text-transform: uppercase;
				padding: 0 $grid-gutter-width/2;
				display: flex;
				flex-direction: row;
				align-items: center;
				position: relative;
				cursor: pointer;

				@media (min-width: $screen-lg) {
					padding: 0 $grid-gutter-width;
				}
			}	

			&.active > a,
			> a:focus,
			> a:hover {
				&:after {
					height: 4px;
					background-color: $color-brand-picton;
					content: '';
					position: absolute;
					bottom: $grid-gutter-width;
					left: $grid-gutter-width*0.125;
					right: $grid-gutter-width*0.125;
				}
			}

			.dropdown-holder {
				background-color: $color-brand-typography;
				color: white;
				position: fixed;
				z-index: 9999;
				display: none;
				top: $navbar-height;
				left: 0;
				right: 0;
				box-shadow: none;
				border: 0;
			}
		}
	}

	.navbar-collapse {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		min-height: $grid-gutter-width*4;
		max-height: $grid-gutter-width*4;

		&.collapse {
			display: none !important;

			@media (min-width: $screen-md) {
				display: flex !important;
			}
		}
	}
}













.topnav.blue-back .user_navLogin_top b {
	color: #fff;
}

.nav_logout {
	margin-left: 10px;
}


.top-small-links {
	float: right !important;
	padding: 20px 0 0 0;

	li a {
		font-size: 11px;
		font-weight: bold;
	}
}

.navbar-toggle.menu-open:before {
	content: "\f00d";
	color: $color-brand-botticelli;
	font-size: 24px;
}

/* search */
.broker_field {
	margin: 30px 0 0 0;
	float: left;
	width: 255px;
	border: 0;
	color: $color-brand-typography;
	font-weight: bold;
	border-bottom: 2px solid #abc5d6;
	padding: 0 0 12px 0;
	background-color: transparent;
}

input.topsearch-input {
	width: 75%;
}

ul.topsearch li {
	line-height: 90px;
}

form.topsearch-form {
	margin: 5px 0 0 0;
	padding: 0;
}

.topsearch-btn {
	border: 0;
	height: 100%;
	display: inline-block;
	height: 25px;
	background-size: 100%;
	background-position: center right !important;
	width: 45px;
	border-radius: 0px;
	float: right;
	background-color: transparent;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-size: 25px;
	color: $color-brand-hit;
	content: "\f002";
	color: $color-brand-hit;
	font-size: 24px;
}

.broker_field {
	display: none;
}

.visible-search {
	display: block;
	width: 350px;

	.broker_field {
		display: block;
		margin: 0;
	}

	.topsearch-btn {
		/*background-image: url(/img/search_cross.png) !important;*/
		margin: 0;
	}
}

.topsearch.visible-search {
	margin-top: 30px;
}

.hero-banner-cont {
	margin: 0 auto;
	padding: 0;
}

.topsearch-input {
	height: 100%;
	border: 0;
	width: 100%;
	line-height: 90px;
	display: inline-block;
	padding: 8px;
	height: 90px;
	background-color: inherit;
	-webkit-box-shadow: none;
}

.why_list {}

.why-list-on-nav {
	padding: 0px !important;
	list-style: none !important;
	margin-bottom: 0;
}

ul.why-list-on-nav li {
	a {
		&:hover {
			text-decoration: none;
			background-color: rgba(0, 15, 100, 0.5);
		}

		padding: 10px 15px;
		display: block;
		width: 100%;
		min-width: 100%;
		color: white;
		text-transform: uppercase;
		font-size: 12px;
		background-color: rgb(0, 0, 0);
		font-weight: bold;
	}

	margin: 0px 0px 2px 0px;
}

ul {
	&.listing-menu, &.investing-menu, &.market-data-menu {}

	&.login-menu {
		width: 440px;
	}
}

.nav-popup-heading {
	border-top: 0px solid #abc5d6;
	padding: 20px 0 0 0;
	
	color: #fff;
}

/* nav popup dropdown menus */
.dropdown-menu > li {
	/* display: table-cell; display:inline-block */
}

.dropdown-holder {
	width: 100%;
	height: 100%;
	min-width: 825px;
	position: absolute;
	display: none;
	z-index: 9998;
	background-color: $color-brand-typography;
	left: 0;
	min-height: 306px;
}

/* hover */
.navbar-default .navbar-nav > li:hover > {
	div.dropdown-holder > ul.dropdown-menu, .dropdown-holder {
		display: block;
	}

	li.dropdown {
		position: static;
	}
}

.navbar-nav > li.dropdown:hover > a {}

.topnav:hover {
	/*background-color:$color-brand-typography*/
	* {
		&.vanilla-logo {
			/*display:none*/
		}

		&.reverse-logo {
			/*display:block*/
		}
	}
}

/* other nav */
.reverse-logo {
	display: none;
}

.navbar-toggle.collapsed {
	background-color: transparent !important;
}

.nav > li.dropdown {
	position: static;

	/*height:96px;*/
	background-color: $color-brand-botticelli;
	color: $color-brand-typography;

	.dropdown-menu {
		width: 1170px;

		/*left:0; right:0;*/
		margin: 0 auto;
		padding: 15px 0;
	}

	> ul > li {
		position: initial;
	}
}

.dropdown-menu a {
	color: #fff;
	width: 100%;
	display: block;
	text-transform: uppercase;
	font-size: 13px;
}

.nav-popup-menu {
	float: left;
	margin: 15px 10px 30px 27px;
	padding-left: 0px;
	border-top: 2px solid #abc5d6;
	padding: 10px 0 0 0;

	span a {
		color: #fff;
		font-weight: 500;
		
		text-transform: capitalize;
	}

	li {
		list-style-type: none;
		line-height: 2.5;
	}

	&.horizontal li {
		list-style-type: none;
		line-height: 2.5;
		display: inline-block;
		margin-right: 32px;
	}
}
.navbar.navbar-default.second_navbar {
	.navbar-nav > li > a {
		color: $color-brand-typography;

		&:hover {
			color: #fff;
			background-color: $color-brand-typography;
		}
	}

	background-color: $color-brand-botticelli;
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	min-height: 0;
	border-top: 1px solid #6797b4;
	border-bottom: 0 !important;
}

.navbar.navbar-default.second_navbar .nav > li {
	> a {
		position: relative;
		display: block;
		padding: 17px 30px 13px 30px !important;
		text-transform: uppercase;
		line-height: 2.25;
		font-size: 15px;
		font-weight: bold;
	}

	&.active > a {
		color: #fff;
		background-color: $color-brand-typography !important;
	}
}

.blue-back {
	background-color: $color-brand-typography;

	* {
		&.vanilla-logo {
			display: none;
		}

		&.reverse-logo {
			display: block;
		}

		span.heading {
			color: #fff;
		}
	}

	> div > div > ul > li {
		&.dropdown > a, > span {
			color: #fff;
		}

		background-color: $color-brand-typography !important;
		color: $color-brand-botticelli !important;
	}

	.topsearch-btn {
		/*background-image:url('/images/search_reverse.png') !important*/
	}

	> div > div > ul > li.active > a {
		color: #fff !important;
	}
}

.btn.btn-default {}

.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.grey-back-listing {
	background-color: #ddd;
	height: 300px;
	text-align: center;
}

a {
	&.navbar-brand {}

	&.top-mobile-logo {
		display: none;
	}
}

.btn {
	&.nsx-orange {
		padding: 10px 38px;
		
		border: 0px;
		outline: none;
		background: $color-brand-java;
		background: transparent;
		color: $color-brand-typography;
		color: #ffffff;
		text-decoration: none;
		border-radius: 0;
		border: 3px solid $color-brand-java;
		border: 3px solid #93dbf1;
		margin: 20px auto;
		display: block;

		&.small {
			display: initial;
			padding: 2px 4px;
			line-height: 40px;
		}

		&:hover {
			background: #93dbf1;
			color: $color-brand-typography;
			cursor: pointer;
		}

		&.request-kit {
			border: 3px solid #ffffff;

			&:hover {
				background: #ffffff;
				border: 3px solid #ffffff;
			}
		}
	}

	&.nsx-blue {
		&.request-kit {
			color: $color-bg-dark-blue;
			background: none;
			border: 3px solid $color-bg-dark-blue;
			border: 3px solid #3281c1;

			&:hover {
				background: $color-bg-dark-blue;
				background: #3281c1;
				color: #ffffff;
				border: 3px solid $color-brand-regal;
				border: 3px solid #3281c1;
			}

			&.popup {
				color: $color-bg-dark-blue;
				background: none;
				border: 3px solid $color-brand-regal;

				&:hover {
					background: $color-brand-regal;
					color: #ffffff;
					border: 3px solid $color-brand-regal;
				}
			}
		}

		background: #93dbf1;
		padding: 10px 38px;
		
		border: 0px;
		outline: none;
		background: $color-brand-java;
		color: $color-brand-typography;
		text-decoration: none;
		border-radius: 0;
		border: 3px solid $color-brand-java;
		margin: 20px auto;
		display: block;

		&.small {
			display: initial;
			padding: 2px 4px;
			line-height: 40px;
		}

		&:hover {
			background: #93dbf1;
			color: $color-brand-typography;
			cursor: pointer;
		}
	}
}

.official-list {
	.btn.nsx-orange {
		margin: 0;
		float: right;
		position: absolute;
		top: 35px;
		right: 40px;
		background: #93dbf1;
	}

	.rss-link {
		position: absolute;
		top: 35px;
		right: 10px;
	}
}

.standard-input {
	line-height: 2.5;
	color: #666;
	padding: 18px 10px;
	border-radius: 0;
	
}

td.align-top {
	vertical-align: top;
}

.password-reminder {
	> tbody > tr > td {
		border: 0;
	}

	td {
		line-height: 2.5;
		vertical-align: middle;
	}

	.standard-input, .captcha, .form-group label {}
}

.navbar-border {
	border-bottom: solid 5px #0080c5;
}

#login {
	height: 230px;
}

.login-panel {
	min-width: 250px;
	border-top: 14px solid #0080c5;
	border-right: 1px solid #0080c5;
	border-bottom-right-radius: 0.5em;
	border-bottom: 3px solid #0080c5;
	border-left: 1px solid #0080c5;
	border-bottom-left-radius: 0.5em;
}

.dropdown-header {
	display: block;
	padding-bottom: 30px;
	height: 10px;
}

.login-header {
	font-size: 20px;
	font-weight: bold;
	display: inline;
	float: left;
}

.forgot-password {
	font-size: 10px;
	display: inline;
	float: right;
	vertical-align: bottom;
	padding-top: 10px;
}

.center-text {
	text-align: center;
}

.error-message {
	font-size: 11px;
}

.login-register {
	display: inline-block;
	color: #fff;

	span a {
		display: inline;
	}
}

.user_navLogin_top {
	position: relative;
	width: auto;

	/* right: 0; */
	height: 15px;
	float: right;
	display: block;
	margin: 10px -32px 0 0;

	ul {
		list-style: none;

		li {
			display: inline-block;
			float: left;
			font-size: 13px !important;
		}
	}
}