/*NAVBAR STYLES*/
/*top header css*/
#topnav {
	border: 0;
	margin-bottom: 0;
	background-color: $color-brand-botticelli;
	z-index: 9999;
	outline: 2px solid $color-border;
	transform: translate3d(0,0,0);

	@media (max-width: $screen-sm-max) {
		min-height: $grid-gutter-width*2.5;
	}

	.toplogo {
		max-width: 272px;
		display: block;
		width: 100%;
		margin-left: $grid-gutter-width/2;
		margin-right: $grid-gutter-width;

		@media (min-width: $screen-md) {
			margin-left: 0;
			margin-right: 0;
		}

		#nsx-logo {
			width: 100%;

			.nsx-logo-grey * {
				color: $color-brand-hit;
				fill: $color-brand-hit;
			}

			.nsx-logo-blue * {
				color: $color-brand-regal;
				fill: $color-brand-regal;
			}
		}
	}

	.navbar-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: $navbar-height;

		@media (max-width: $screen-sm-max) {
			float: none;
			margin-right: -$grid-gutter-width/2;
			margin-left: -$grid-gutter-width/2;
			height: $grid-gutter-width*3;

			&:before,
			&:after {
				display: none;
			}
		}
	}

	.navbar-toggle {
		border-radius: 0;
		border: 0;

		@media (max-width: $screen-sm-max) {
			display: block;
		}

		@media (min-width: $screen-md) {
			margin-right: 0;
		}

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}

	.nav > li {
		position: static;
	}

	.navbar-nav {
		@media (max-width: $screen-sm-max) {
			float: none;
			margin: 0;
			border-top: 2px solid $color-border;
		}

		@media (min-width: $screen-md) {
			display: flex;
			flex-grow: 1;
			justify-content: center;
		}

		> li {
			float: none;
			position: relative;
			border-bottom: 2px solid $color-border;

			@media (min-width: $screen-md) {
				height: $navbar-height;
				position: static;
				border-bottom: 0;
			}

			> a,
			> .login-item {
				padding: $grid-gutter-width/2 0;
				display: block;

				@media (max-width: $screen-sm-max) {
					font-size: 1.5rem;
					margin-right: $grid-gutter-width*1.5;
				}

				@media (min-width: $screen-md) {
					height: $navbar-height;
					font-weight: 500;
					text-transform: uppercase;
					padding: 0 $grid-gutter-width/2;
					display: flex;
					flex-direction: row;
					align-items: center;
					position: relative;
					cursor: pointer;
					flex-grow: 1;
					text-decoration: none;
				}

				@media (min-width: $screen-lg) {
					padding: 0 $grid-gutter-width;
				}
			}

			> button {
				position: absolute;
				width: $grid-gutter-width*1.5;
				background-color: transparent;
				outline: none;
				top: 0;
				right: 0;
				font-size: 1.5rem;
				padding: $grid-gutter-width/2;
				border: 0;

				@media (min-width: $screen-md) {
					display: none;
				}
			}

			&.active > a,
			&:focus > a,
			&:hover > a,
			&:focus > .login-item,
			&:hover > .login-item {
				color: $color-brand-regal;

				@media (min-width: $screen-md) {
					color: white;

					&:after {
						height: 4px;
						background-color: $color-brand-picton;
						content: '';
						position: absolute;
						bottom: $grid-gutter-width;
						left: $grid-gutter-width*0.125;
						right: $grid-gutter-width*0.125;
					}
				}
			}

			.dropdown-menu {
				ul {
					list-style: none;
					padding: 0;
				}

				@media (max-width: $screen-sm-max) {
					> .container {
						padding: 0;
						width: 100%;

						> .row {
							margin: 0;
							display: flex;
							flex-wrap: wrap;
							justify-content: flex-start;
						}
					}
				}
				
				@media (min-width: $screen-md) {
					min-height: 150px;
					color: white;
					display: none;
					padding-bottom: 1rem;				
					background-color: $color-brand-typography;
					color: white;
					position: absolute;
					z-index: 9999;
					top: $navbar-height;
					left: 0;
					right: 0;
					box-shadow: none;
					border: 0;
					height: auto !important;

					ul {
						margin: 0;
						padding: 0;
					}

					li {
						margin: 0;
						padding: 0;
					}

					a {
						color: white;
					}
				}
			}

			@media (max-width: $screen-sm-max) {
				ul.sub-nav {
					padding: 0.5rem 0 1rem;

					> li {
						padding: 0.5rem 0;
						font-size: 1.25rem;

						h4 {
							margin: 0.5rem 0;
							font-size: 1.25rem;
						}

						li {
							padding: 0.5rem 0;
						}
					}

					&.vertical {
						padding: 0;

						> li {
							margin: 0.5rem 0 0;

							&:last-child {
								margin: 0.5rem 0 1rem;
							}
						}
					}
				}

				.login-dropdown {
					h4 {
						margin: 1.5rem 0 1rem;
					}

					.login-form {
						padding: 0;
					}
				}
			}

			@media (min-width: $screen-md) {
				ul.sub-nav {
					border-top: 2px solid rgba($color-brand-botticelli, 0.75);
					padding: 1rem 0;
					overflow: hidden;

					> li {
						padding: 0.5rem 1rem;
						float: left;

						&:first-child {
							padding-left: 0;
						}

						li {
							padding: 0.5rem 0;
						}

						ul {
							padding-right: 1rem;
						}
					}

					&-right {
						display: flex;
						justify-content: flex-end;

						> li {
							float: none;
						}
					}
				}

				.login-dropdown {
					padding: 0 0 1rem;

					&:before {
						background-color: rgba($color-brand-botticelli, 0.75);
						height: 2px;
						content: '';
						display: block;
						margin: 0 $grid-gutter-width/2;
					}

					h4 {
						margin: 1.5rem 0 1rem;
					}

					p {
						margin: 1rem 0 0.5rem;
						font-size: 0.9em;
					}

					form {
						padding-right: 1rem;
					}
				}
			}

			&.dropdown {
				@media (max-width: $screen-sm-max) {
					> button .close {
						display: none;
					}

					&.open {
						> button .open {
							display: none;
						}

						> button .close {
							display: inline-block;
						}
					}
				}
			}

			&.dropdown .dropdown-menu {
				@media (max-width: $screen-sm-max) {
					display: none;
				}
			}

			&.dropdown.open .dropdown-menu {
				display: block;
				height: auto !important;

				@media (min-width: $screen-md) {
					display: none;
				}
			}

			&:focus,
			&:hover {
				> .dropdown-menu {
					@media (min-width: $screen-md) {
						display: block;
					}
				}
			}
		}
	}

	.navbar-collapse {
		@media (max-width: $screen-sm-max) {
			margin-left: -$grid-gutter-width/2;
			margin-right: -$grid-gutter-width/2;

			&.collapse {
				display: none !important;
				height: 0px !important;
				overflow: hidden !important;

				&.in {
					display: block !important;
					height: auto !important;
					overflow: visible !important;
				}
			}
		}

		@media (min-width: $screen-md) {
			display: flex !important;
			min-height: $grid-gutter-width*4;
			max-height: $grid-gutter-width*4;
			padding: 0;

			&.collapse {
				display: flex !important;
			}

			&.topsearch-open {
				position: relative;
			}
		}
	}

	&.blue-back {
		@media (min-width: $screen-md) {
			background-color: $color-brand-typography;
			outline: none;

			.navbar-nav > li > a,
			.navbar-nav > li > .login-item {
				color: white;
			}

			#nsx-logo {
				.nsx-logo-grey * {
					color: white;
					fill: white;
				}

				.nsx-logo-blue * {
					color: white;
					fill: white;
				}
			}
		}
	}
}













.nav_logout {
	margin-left: 10px;
}

.top-small-links {
	float: right !important;
	padding: 20px 0 0 0;

	li a {
		font-size: 11px;
		font-weight: bold;
	}
}

.navbar.navbar-default.second_navbar {
	.navbar-nav > li > a {
		color: $color-brand-typography;

		&:hover {
			color: #fff;
			background-color: $color-brand-typography;
		}
	}

	background-color: $color-brand-botticelli;
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	min-height: 0;
	border-top: 1px solid #6797b4;
	border-bottom: 0 !important;
}

.navbar.navbar-default.second_navbar .nav > li {
	> a {
		position: relative;
		display: block;
		padding: 17px 30px 13px 30px !important;
		text-transform: uppercase;
		line-height: 2.25;
		font-size: 15px;
		font-weight: bold;
	}

	&.active > a {
		color: #fff;
		background-color: $color-brand-typography !important;
	}
}

.btn.btn-default {}

.grey-back-listing {
	background-color: #ddd;
	height: 300px;
	text-align: center;
}

a {
	&.navbar-brand {}

	&.top-mobile-logo {
		display: none;
	}
}

.official-list {
	.btn.nsx-orange {
		margin: 0;
		float: right;
		position: absolute;
		top: 35px;
		right: 40px;
		background: #93dbf1;
	}

	.rss-link {
		position: absolute;
		top: 35px;
		right: 10px;
	}
}

.standard-input {
	line-height: 2.5;
	color: #666;
	padding: 18px 10px;
	border-radius: 0;
	
}

td.align-top {
	vertical-align: top;
}

.password-reminder {
	> tbody > tr > td {
		border: 0;
	}

	td {
		line-height: 2.5;
		vertical-align: middle;
	}

	.standard-input, .captcha, .form-group label {}
}

.navbar-border {
	border-bottom: solid 5px #0080c5;
}

#login {
	height: 230px;
}

.login-panel {
	min-width: 250px;
	border-top: 14px solid #0080c5;
	border-right: 1px solid #0080c5;
	border-bottom-right-radius: 0.5em;
	border-bottom: 3px solid #0080c5;
	border-left: 1px solid #0080c5;
	border-bottom-left-radius: 0.5em;
}

.dropdown-header {
	display: block;
	padding-bottom: 30px;
	height: 10px;
}

.login-header {
	font-size: 20px;
	font-weight: bold;
	display: inline;
	float: left;
}

.forgot-password {
	font-size: 10px;
	display: inline;
	float: right;
	vertical-align: bottom;
	padding-top: 10px;
}

.center-text {
	text-align: center;
}

.error-message {
	font-size: 11px;
}

.login-register {
	display: inline-block;
	color: #fff;

	span a {
		display: inline;
	}
}

.user_navLogin_top {
	position: relative;
	width: auto;

	/* right: 0; */
	height: 15px;
	float: right;
	display: block;
	margin: 10px -32px 0 0;

	ul {
		list-style: none;

		li {
			display: inline-block;
			float: left;
			font-size: 13px !important;
		}
	}
}