/*right_side_bar section two*/

.subnav-cont {
  background-color: $color-brand-botticelli;
  border-top: 2px solid $color-border;
  border-bottom: 2px solid $color-border;
  position: relative;
}

.subnav-holder {
  position: relative;
}

.side-bar-menu {
  list-style-type: none;
  padding: 0;
  display: table;
  margin: 0 auto;
  ul {
    list-style-type: none;
    margin: 0;
  }
  > li {
    padding: 0 0 15px 0;
    float: left;
    &:last-child {
      padding: 0;
    }
    > a {
      &.active {
        font-weight: bold;
        border-bottom: 4px solid $color-brand-picton;
        padding-bottom: 2px;
      }
      color: $color-brand-typography;
      text-transform: uppercase;
      font-size: 13px;
      padding: 25px 20px 6px 20px;
      display: block;
      font-weight: 500;
      &:hover {
        text-decoration: none;
        border-bottom: 4px solid $color-brand-picton;
        padding-bottom: 2px;
      }
    }
  }
}

.content-page-subnav {
  display: table;
  margin: 0 auto;
  .side-bar-menu {
    display: table;
    margin: 0 auto;
  }
  ul.side-bar-menu li {
    float: none;
    text-align: center;
    display: inline-block;
    padding: 0;
    a {
      padding: 20px 20px 18px 20px;
      &:hover, &.active {
        padding: 20px 20px 14px 20px;
        border-bottom: 4px solid $color-brand-picton;
      }
    }
  }
}

.small-table {
  padding: 30px 0 10px 0;
}