.subnav-cont {
	background-color: $color-brand-botticelli;
	border-top: 2px solid $color-border;
	border-bottom: 2px solid $color-border;
	position: relative;

	.side-bar-menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: $navbar-height - ($grid-gutter-width);
		font-size: 0.8em;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		> li {
			> a {
				line-height: 1rem;
				color: $color-brand-typography;
				text-transform: uppercase;
				display: block;
				font-weight: 500;
				height: $navbar-height - ($grid-gutter-width);
				padding: 0 $grid-gutter-width/2;
				display: flex;
				flex-direction: row;
				align-items: center;
				position: relative;
				cursor: pointer;
				flex-grow: 1;
				text-decoration: none;
				text-align: center;
			}

			&.active > a,
			&:focus > a,
			&:hover > a {
				color: $color-brand-regal;
			
				&:after {
					height: 4px;
					background-color: $color-brand-java;
					content: '';
					position: absolute;
					bottom: 0;
					left: $grid-gutter-width*0.125;
					right: $grid-gutter-width*0.125;
				}
			}

			&.active > a {
				font-weight: bold;

				&:after {
					background-color: $color-brand-picton;
				}
			}
		}
	}
}