/* secutiry table */

.securities-table {
	font-weight: bold;
	ul {
		margin: 30px 0 0 0;
		padding: 0 0 0 0;
		li {
			font-size: 18px;
			padding: 0 50px 20px 0;
			color: $color-brand-typography;
			display: inline-block;
			b {
				font-size: 12px;
				color: $color-brand-typography;
			}
		}
	}
}

div#security-header {
	color: $color-brand-typography;
	margin: 0 0 30px 0;
	width: 100%;
}

#security-header a {
	color: $color-brand-typography;
}

.security-brand-logo {
	border-right: 1px solid #EEE;
	float: right;
	overflow: hidden;
	padding: 5px;
	width: 230px;
	height: 60px;
	text-align: center;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

#security-header-top, #security-header-bottom {
	float: left;
	width: 100%;
}

img.water-mark {
	display: none;
	float: right;
	overflow: hidden;
	padding: 8px;
}

#security-header-top a {
	float: left;
	padding: 6px 15px 10px;
	position: relative;
	top: 4px;
	font-size: 30px;
	&.brand-name {
		font-size: 36px;
		font-weight: bold;
	}
}

#security-header-top a.nsx-code {
	background: none repeat scroll 0 0 #F0EEEF;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color: #000000;
	font-size: 15px;
	padding: 9px 15px 10px;
	position: relative;
	top: 1px;
}

#security-header-bottom {
	background: none repeat scroll 0 0 transparent;
	height: 56px;
	> div {
		float: left;
		letter-spacing: 1px;
		overflow: hidden;
		padding: 8px 20px;
	}
	#actual {}
}

p {
	&#act-1 {
		color: #034579;
		float: left;
		font-size: 28px;
		letter-spacing: 0;
		line-height: 30px;
		margin-left: -5px;
		margin: 0px;
	}
	&#act-2 {
		color: #000000;
		float: right;
		font-size: 11px;
		line-height: 11px;
		margin-top: 4px;
		span {
			padding-left: 5px;
		}
	}
}

#security-header-bottom #high {
	text-align: left;
	width: 122px;
	height: 30px;
}

p {
	&#high-high, &#low-low {
		color: #034579;
		
		letter-spacing: 0;
		margin-left: 4px;
		margin-top: 2px;
	}
	&#high-date, &#low-date {
		color: #999999;
		font-size: 9px;
		letter-spacing: 0;
		/* margin: -5px 0 -23px -11px; */
	}
	&#high-value, &#low-value {
		color: #39A908;
		float: right;
		font-size: 27px;
		left: 8px;
		letter-spacing: 0;
		position: relative;
		top: -26px;
	}
}

#security-header-bottom #low {
	width: 122px;
	height: 30px;
}

p#low-value {
	color: #E14040;
}

#security-header-bottom #volume {}

p {
	&#volume-volume {
		color: #9D9C9D;
		font-size: 14px;
		letter-spacing: 0;
		margin-bottom: -6px;
		margin-top: 2px;
	}
	&#volume-value {
		color: #034579;
		font-family: Verdana,Geneva,sans-serif;
		font-size: 11px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 17px;
		margin-top: 6px;
	}
}

#security-header-bottom #last-trade {
	border-right: medium none;
	letter-spacing: 0;
	width: 170px;
}

p {
	&.last-last {
		color: #9D9C9D;
		float: left;
		font-size: 14px;
		line-height: 11px;
		margin: 3px 0 0 0;
	}
	&#last-date, &#last-hour {
		clear: both;
		color: #034579;
		font-family: Verdana,Geneva,sans-serif;
		font-size: 10px;
		font-weight: bold;
		left: 75px;
		line-height: 13px;
		position: relative;
		text-align: left;
		top: -18px;
	}
}






table {
	width: 100%;
	border: 0;
	color: $color-brand-typography;

	> thead,
	> tbody,
	> tfoot {
		> tr {
			padding: 0;
			text-align: left;
			border: 0;
			font-weight: normal;
			color: $color-brand-typography;

			> td,
			> th {
				padding: 0.5rem 0.5rem;
				text-align: left;
				border: 0;
				font-weight: normal;
				vertical-align: middle;
				color: $color-brand-typography;
				border-bottom: 2px solid $color-brand-botticelli;

				&:first-child {
					padding-left: 0;
				}

				div {
					padding: 0 !important;
					margin: 0 !important;
					display: inline-block;
				}
			}
		}
	}

	> thead > tr > th,
	> thead > tr > td,
	.sub-header > td {
		font-weight: bold;
		vertical-align: top !important;
	}

	> tfoot > tr > td {
		font-size: 0.9em;
		border-bottom: 0;
	}

	h1, h2, h3, h4, h5, p {
		@extend body;
		margin: 0;
	}
}

.table-responsive {
	overflow-x: auto;
	min-height: 0.01%;

	@media screen and (max-width: $screen-xs-max) {
		width: 100%;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		> table {
			margin-bottom: 0;

			> thead,
			> tbody,
			> tfoot {
				> tr {
					> th,
					> td {
						white-space: nowrap;
					}
				}
			}
		}
	}
}

.tablesorter {
	.header,
	&-header {
		cursor: pointer;
		position: relative;
		padding-right: 1rem !important;

		&:after {
			@extend .fa;
			@extend .fa-sort:before;
			position: absolute;
			right: 0.25rem;
			top: 0.7rem;
		}
	}

	.headerSortUp,
	&-headerSortUp,
	&-headerAsc {
		&:after {
			@extend .fa;
			@extend .fa-sort-asc:before;
		}
	}

	.headerSortDown,
	&-headerSortDown,
	&-headerDesc {
		&:after {
			@extend .fa;
			@extend .fa-sort-desc:before;
		}
	}

	thead .sorter-false {
		cursor: default;

		&:after {
			content: none;
		}
	}

	&-processing {
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
	}

	&-filter-row .disabled {
		cursor: not-allowed;
	}

	&-filter-row.hideme td {
		cursor: pointer;
	}

	&-filter-row.hideme .tablesorter-filter {
		height: 1px;
		min-height: 0;
		border: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
	}

	.filtered {
		display: none;
	}

	&-errorRow td {
		color: $color-text-danger;
		cursor: pointer;
	}
}
