/* special IPO tile */

.date-circle {
  position: absolute;
  bottom: 40%;
  width: 100px;
  /* background-color: #fff; */
  height: 100px;
  text-align: center;
  padding: 42px 5px 0 5px;
  left: 10px;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 60px;
  /* box-shadow: 0 0 2px #888; */
  height: 116px;
  width: 116px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.data-graph .graph {
  height: 312px;
  margin-top: 27px;
}

.stat-section {
  color: $color-brand-typography;
  min-height: 240px;
  padding: 10px 0 0 0;
  text-align: center;
  > {
    h3 {
      font-size: 12px;
      font-weight: bold;
    }
    span {
      font-size: 60px;
      font-weight: bold;
    }
  }
}

.market-data-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #003661;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #003661;
    li {
      /* height: 32px; */
      font-size: 11px;
      color: #fff;
      /* line-height: 32px; */
      float: left;
      padding: 11px 20px 11px 25px;
      text-transform: uppercase;
      font-size: 11px;
      &.first {
        background-color: #787d82;
        padding: 11px 125px 11px 25px;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.data-graph {
  .field_box {
    float: left;
    margin: 0 10px 0 0;
    padding: 4px;
  }
  .rightBox {
    float: left;
    .inputtxtbox3 {
      padding: 2px 6px;
      border: 0;
      background-color: transparent;
    }
  }
}