/* Primary Colours */
$color-brand-regal: #003865 !default;
$color-brand-hit: #B2BDC5 !default;

/* Secondary Colours */
$color-brand-java: #21E2D0 !default;
$color-brand-picton: #27B7E3 !default;
$color-brand-botticelli: #EFF4F7 !default;
$color-brand-typography: #002A4C !default;

/* Text */
$color-text-danger: #C03D41 !default;

/* Background Colours */
$color-bg-blue: #00315A !default;
$color-bg-dark-blue: #002543 !default;

