/* Bootstrap */
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

/* NSX Variables */
@import 'variables';
/* NSX Variables End */

// BOOTSTRAP OVERRIDES
$grid-gutter-width: 24px;
$navbar-height: $grid-gutter-width*4;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-padding-horizontal: $grid-gutter-width/2;
$navbar-padding-vertical: $grid-gutter-width*1.25;
$navbar-collapse-max-height: 340px;
$navbar-default-color: $color-brand-typography;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-default-link-color: $color-brand-typography;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: $color-brand-typography;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-disabled-color: #ccc;
$navbar-default-link-disabled-bg: transparent;
$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;
$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;
$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;
$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;
$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;
$btn-link-disabled-color:        $gray-light !default;
$btn-border-radius-base:         0 !default;
$btn-border-radius-large:        0 !default;
$btn-border-radius-small:        0 !default;

// BOOTSTRAP OVERRIDES END

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

/* NSX Core */
@import 'partials/base';

@import 'partials/autocomplete';
@import 'partials/boxes-feature';
@import 'partials/boxes-footer';
@import 'partials/boxes-horizontal';
@import 'partials/breadcrumb';
@import 'partials/buttons';
@import 'partials/content';
@import 'partials/feature-blocks';
@import 'partials/footer';
@import 'partials/hero';
@import 'partials/home';
@import 'partials/listing';
@import 'partials/navigation';
@import 'partials/page';
@import 'partials/pagination';
@import 'partials/popup-listing-kit';
@import 'partials/search';
@import 'partials/sidebars-right';
@import 'partials/tables';
@import 'partials/tiles-ipo';
